
* {
  box-sizing: border-box;
}
.navbar {
  margin-bottom: 0px;
}

.header {
  text-align: center;
  background-image: url('../images/bg2.jpg');
  background-size: cover;
}

.texto-header {
  color: #fff;
  width: 50%;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

.galeria {
  padding-top: 50px;
  padding-bottom: 100px;
}

.thumbnail {
  border: 6px solid #dedede;
  padding: 0px;
}

.thumbnail img {
  width: 100%;
  max-width: none;
}


/* p.parrafo-boton {
  text-align: center;
} */

.caption {
  text-align: center;
}

.panel-default {
  text-align: center;
}

.glyphicon.glyphicon-camera.icono-header {
  font-size: 24px;
  color: #000;
}

.glyphicon.glyphicon-camera.icono-footer {
  font-size: 24px;
}

.container.footer {
  padding-bottom: 50px;
}


a.btn.btn-default {
    border-radius: 0px;
}

nav.navbar.navbar-default {
    border-radius: 0px;
} 
